.company {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.company-container {
    display: flex;
    flex-direction: row;
    max-height: calc((85vh - 50px)* 0.40 - 5px);
    min-height: calc((85vh - 50px)* 0.40 - 5px);
    gap: 10px;
}

.company-stats {
    display: flex;
    flex-direction: column;
}

.company-employees {
    display: flex;
    flex-direction: column;
}

.company button {
    width: fit-content;
    margin: 5px;
    margin-left: 0;
}

.company-employees-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
    width: max-content;
}

.employee {
    display: flex;
    flex-direction: column;
}

.employee button {
    width: 100%;
}

.company-investment {
    padding-left: 10px;
    border-left: 1px solid black;
}

.investment {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.asset input {
    width: 100px;
}

.asset p {
    font-size: 12px;
}

.company-investments-market-analysis {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: calc((85vh - 50px)* 0.40 - 5px);
    min-height: calc((85vh - 50px)* 0.40 - 5px);
}