.ice-block {
    cursor: pointer;
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ice-block:active {
    transform: scale(0.95);
}

.ice-block span {
    font-size: 64px;
}
