.modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
}

.modal-content {
    background-color: #fff;
    color: #2a1d4c;
    padding: 20px;
    border-radius: .375rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 5px solid #2a1d4c;
}

.modal-content > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: -webkit-fill-available;  
    align-items: center;
    justify-content: center;
}

.modal-content > div > div:first-child {
    width: -webkit-fill-available;
}

.modal-content h2 {
    color: #2a1d4c;
    text-shadow: 0 0 1px #000;
    font-weight: 400;
    color: #2a1d4c;
}

label {
    font-size: 10px;
}