*, *::before, *::after {
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}

.App {
	background-color: #f0f8ff;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.stats {
	height: 15vh;
	width: calc(20% + (80%)*0.4 + 7px)
}

.flex-item {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	max-height: calc(85vh - 50px);
	min-height: calc(85vh - 50px);
}

.ice-block {
	height: 100%;
	width: 20%;
}

.market {
	height: 100%;
	width: 20%;
}

.flex-middle {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 80%;
	height: 100%;
}

.company {
	max-height: calc((85vh - 50px)*0.40 - 5px);
	min-height: calc((85vh - 50px)*0.40 - 5px);
	width: 100%;
}

.flex-tools {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	max-height: calc((85vh - 50px)*0.60 - 5px);
	min-height: calc((85vh - 50px)*0.60 - 5px);
}

.items {
	width: 20%;
}

.laboratory {
	width: 60%;
}

.container {
	border: 0;
	color: #000;
	padding: 10px;
	overflow: auto;
}

h2 {
    margin: 0 !important;
	border-bottom: 1px solid #000;
}

h3 {
    margin: 0 !important;
}

p {
    margin: 0 !important;
    width: fit-content;
}