body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
  color: #2a1d4c;
  font-weight: 400;
  font-size: medium
}

h3 {
  font-size: small;
}
  
p {
  font-size: 9px;
}

button {
  background-color: #fff;
  color: #2a1d4c;
  font-weight: 100;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s;
  border: solid 1px #2a1d4c;
  border-radius: .375rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
  padding-left: .625rem;
  padding-right: .625rem;
  width: max-content;
  font-family: "Press Start 2P", serif;
}