body {
  margin: 0;
  font-family: "Orbitron", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
  font-family: "Orbitron", serif;
  color: #000;
  font-weight: 600;
}

p {
    font-family: "Orbitron", serif;
}

button {
    font-family: "Orbitron", serif;
}

button {
  background-color: #d8f0cc;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: solid 1px #d8f0cc;
  border-radius: .375rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
  padding-left: .625rem;
  padding-right: .625rem;
  width: max-content;
}